<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<body >

<div class="container">
    <!-- BEGIN LOGIN FORM -->
    <form action="/register" method="post">
        <h3 class="form-title">Register your account</h3>


        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">

                <input type="text" id="username" autocomplete="off" placeholder="Username" name="username" required/>
            </div>
        </div>
        <div class="form-group">
            <label >Password</label>
            <div class="input-icon">

                <input  type="password" id="password"  autocomplete="off" placeholder="Password" name="password" required/>
            </div>
        </div>
        <div class="form-actions">
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="input-icon">

                    <input type="email" id="email" autocomplete="off" placeholder="Email" name="email" required/>
                </div>
            </div>
            <button class="btn btn-default" type="submit" id="submit" >Register
            </button>

        </div>



        <center>
            <% if(messages.success){%>
                <div class="alert alerts alert-success alert-dismissible" role="alert">
                    <span><%= messages.success%></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% }%>

            <% if(messages.error){%>
                <div class="alert alerts alert-danger alert-dismissible" role="alert">
                    <span><%= messages.error%></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% }%>
        </center>

    </form>
    <br><br>
    <div>
    <a href="/login"><button type="login" id="login" class="btn btn-default" >Login</button></a>
    </div>
</div>



</body>

</html>