<% if(messages.success){%>
<div class="alert alerts alert-success alert-dismissible pull-right" role="alert">
	<span><%= messages.success%></span>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% }%>

<% if(messages.error){%>
<div class="alert alerts alert-success alert-dismissible pull-right" role="alert">
	<span><%= messages.error%></span>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% }%>